.cover__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: rgba(42, 44, 47, 0.3);
    padding: 245px 0;   
}
.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: background-color 2s;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover__link {
        padding: 195px 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover__link {
        padding: 115px 0;
    }

}
@media screen and (max-width: 767px) and (min-width: 425px) {
    .cover__link {
        padding: 110px 0;
    }
}
@media screen and (max-width: 424px) {
    .cover__link {
        padding: 33px 0;
    }

}