.lead__title {
    font-size: 96px;
    line-height: 1.04;
    font-weight: bold;
    width: 73.2%;
    margin: 0;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .lead__title {
        width: 77.58%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px ) {
    .lead__title {
        width: 93.75%;
    }
}