.intro {
    padding-top: 114px;    
    width: 76.8%;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .intro {
        width: 90.62%;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px ) {
    .intro {
        width: 93.75%;
        padding-left: 3.12%;
        padding-top: 110px;
    }
}

@media screen and (max-width: 767px)  {
    .intro {
        width: 90%;
        padding-left: 5%;
        padding-top: 64px;
    }
}