.cover {
    margin: 92px auto 0;
    width: 92.5%;
    max-width: 1184px;
    /*position: relative;
    padding: 245px 0;*/
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}

/*.cover::before {    
    content: "";
    background-color: rgba(42, 44, 47, 0.3);    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.cover:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
}*/

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        width: 100%;
    }

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        width: 100%;
        margin-top: 90px;
    }

}
@media screen and (max-width: 767px) and (min-width: 425px) {
    .cover {
        width: 100%;
        margin-top: 66px;
    }
}
@media screen and (max-width: 424px) {
    .cover {
        width: 100%;
        margin-top: 66px;
    }

}